* {
  font-family: 'Poppins', sans-serif;
}

html {
  margin: 0;
}

body {
  height: 100%;
  background-color: #fff;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  text-decoration: none;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

label {
  margin-bottom: 5px;
}


/*------LAYOUT--------*/

input:focus {
  outline: none;
}

p {
  margin: 0;
}

input::placeholder{
  font-size: 16px;
}

/*------NAVEGAÇÃO--------*/
body.home a#home,
body.pagina-inicial a#pagina-inicial,
body.forum a#forum,
body.mentorias a#mentorias,
body.favoritos a#favoritos {
  color: #ffffff;
  border-bottom: 3px solid #36357E;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-light .navbar-nav .nav-link{
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 3px;
  cursor: pointer;
}

.navbar-light .navbar-nav .btn {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #E24816;
  padding: 5px 7px;
  background-color: #ffffff;
  font-size: 14px;
}

.navbar-light .navbar-nav .btn:hover {
  color: #303033;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ffffff;
  border-bottom: 3px solid #36357E;
}

.navbar-light .navbar-brand {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}
.navbar-light .navbar-brand:hover {
  color:#ffffff;
}

.logo {
  width: 3rem;
  height: auto;
  fill: #ffffff;
}

.navegation {
  background: #E24816;
}

/*------CONTAINER PRINCIPAL--------*/

.container.container-principal {
  max-width: 850px;
  margin-top: 4rem;
  background-color: #fff;
}

.img-perfil {
  border-radius: 50%;
  border: 3px solid #E24816;
}

.search-box {
  background-color: #ffffff;
  border: 1px solid #ef653c;
  border-radius: 1rem;
  width: 100%;
  height: 48px;
  margin-bottom: 15px;
}

input.search-area {
  border: none;
  width: 90%;
  font-size: 0.9rem;
}

.search-icon {
  margin: 0.5rem;
  color: #000000;
  /*width: 28px;
  height: 28px;*/
}

.text-muted {
  font-size: 0.9rem;
}

/*------ÁREA PROFISSIONAL--------*/

.container-profissional {
  background-color: #ffffff;
  width: 100%;
  height: auto;
}

.secao-profissional {
  border-radius: 8px;
  height: auto;
  margin-bottom: 15px;
}


.img-profissional {
  border-radius: 8px;
}

.info-profissional{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  backdrop-filter: blur(4px);
}

.nome-profissional {
  color: #FEFFFC;
  font-weight: 700;
}

.cargo-profissional {
  font-size: 14px;
  font-weight: 500;
  color: #FEFFFC;
}

.btn.btn-light.botao-mentoria {
  font-weight: 700;
  align-items: center;
  background-color: #E24816;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.btn.btn-light.botao-chat {
  font-weight: 700;
  align-items: center;
  background-color: #36357E;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.btn.btn-light.botao-mentoria:hover {
  background-color: #ef653c;
  transition: 0.5s;
}

.btn.btn-light.botao-chat:hover {
  background-color: #4b4fa1;
  transition: 0.5s;
}

.botao-carregar {
  font-size: 14px;
  color:#E24816;
}

.botao-carregar:hover {
  font-size: 14px;
  color:#E24816;
  text-decoration: underline;
}

/*------AGENDAMENTO--------*/

.fa-arrow-left {
  color: #E24816;
}

.img-mentoria {
  border-radius: 8px;
}

.container-principal-agendamento {
  margin-top: 4rem;
  background-color: #fff;
  padding: 15px;
  height: 100%;
}

.botao-assunto-azul, .botao-assunto-laranja {
  width: auto;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 5px 10px 5px;
  color: #ffffff;
  font-weight: 700;
}

.botao-assunto-laranja {
  background-color: #E24816;
}

.botao-assunto-azul{
  background-color: #36357E;
}

.botao-assunto-laranja:hover {
  background-color: #ef653c;
  transition: 0.5s;
  color: #fff;
}

.botao-assunto-azul:hover {
  background-color: #4b4fa1;
  transition: 0.5s;
  color: #fff;
}

.fa-star {
  color: #E24816;
}

.botao-agendar {
  background-color: #E24816;
  color: #fff;
  font-weight: 700;
  border: 1px solid #E24816;
}

.botao-agendar:hover {
  color: #fff;
  background-color: #ef653c;
  transition: 0.5s;
  border: 1px solid #ef653c;
}

.container-info {
  height: 170px;
}

.info-agendamento {
  height: auto;
  background-color: #E5E5E5;
  border-radius: 8px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 0;
  padding-left: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
}

.borda {
  border: 1px solid red; /*classe para facilitar a visualização*/
}

/*------POP UP AGENDAMENTO--------*/

.modal-title {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  padding: none;
}

.modal-body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0;
  padding-top: 0;
}

.modal-header {
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border: none;
  padding-bottom: 0;
}

.modal-dialog {
  position: relative;
  top: 25%;
}

.modal-footer {
  display: flex;
  justify-content: center;
  border: none;
}

.botao-cancelar {
  font-weight: bold;
  color: #E24816;
  border: 1px solid #E24816;
  background-color: #ffff;
}

.botao-cancelar:hover {
  color: #303030;
  border: 1px solid #ffff;
}

/*------RESPONSIVIDADE--------*/

@media (max-width: 576px) {
  .img-perfil {
    width: 60px;
    height: 60px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
  }

  .img-profissional {
    width: 150px;
    height: 170px;
  }
  
  .info-profissional{
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: 47px;
  }
  
  .nome-profissional {
    margin-left: 10px;
    font-size: 16px;
  }
  
  .cargo-profissional {
    font-size: 14px;
    margin-left: 10px;
  }
  
  .btn.btn-light.botao-mentoria {
    font-size: 14px;
    width: 75px;
    height: 40px;
  }
  
  .btn.btn-light.botao-chat {
    font-size: 14px;
    width: 75px;
    height: 40px;
  
  }
  .modal-dialog {
    width: 250px;
    left: 10%;
  }
  
  .botao-agendar {
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }

  .botoes {
    margin-left: 10px;
  }

  .img-mentoria {
    margin-left: 15px;
    width: 184px;
    height: 204px;
  }

  .mentor-hab {
    display: flex;
  }

  .info-mentor {
    margin-left: 15px;
    margin-right: 25px;
  }
  }

@media (min-width: 577px) {

  .img-profissional {
    width: 184px;
    height: 204px;
  }
  
  .info-profissional{
    width: 184px;
    height: 60px;
    position: absolute;
    bottom: 47px;
  }
  
  .nome-profissional {
    margin-left: 20px;
    font-size: 20px;
  }
  
  .cargo-profissional {
    font-size: 16px;
    margin-left: 20px;
  }
  
  .btn.btn-light.botao-mentoria {
    font-size: 16px;
    width: 89px;
    height: 40px;
  }
  
  .btn.btn-light.botao-chat {
    font-size: 16px;
    width: 89px;
    height: 40px;
  
  }
  .img-perfil {
    width: 94px;
    height: 94px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 22px;
    font-weight: 700;
  }

  .mentor {
    display: flex;
  }

  .botao-assunto-azul, .botao-assunto-laranja {
    font-size: 14px;
  }

  .modal-dialog {
    width: 250px;
  }
  .container-principal-agendamento {
    width: 1180px;
  } 

  .botoes {
    display: flex;
  }

  .img-mentoria {
    width: 300px;
    height: 267px;
  }

  .modal-dialog {
    width: 350px;
  }

  .botao-assunto-laranja, .botao-assunto-azul {
    font-size: 16px;
  }
  }