
* {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

h2 {
  color: #ef653c;
  font-size: 1.7rem;
  font-weight: bold;
}

/*------LAYOUT--------*/
body {
  background-color: #ffffff;
}

input {
  border: none;
  width: 80%;
  font-size: 0.9rem;
}

input:focus {
  outline: none;
}

p {
  margin: 0;
}

/*------NAVEGAÇÃO--------*/

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-light .navbar-nav .nav-link{
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
}

.navbar-light .navbar-nav .btn {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #E24816;
  padding: 5px 7px;
  background-color: #ffffff;
  font-size: 14px;
}

.navbar-light .navbar-nav .btn:hover {
  color: #303033;
}

.navbar-nav .nav-item .nav-link:hover {
  transition: 0.35s;
}

.navbar-light .navbar-brand {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}
.navbar-light .navbar-brand:hover {
  color:#ffffff;
}

.logo {
  width: 3rem;
  height: auto;
  fill: #ffffff;
}

.navegation {
  background: #E24816;
  height: 61px;
}


/*------CONTAINER PRINCIPAL--------*/
.container-principal {
  margin-top: 4rem;
  background-color: #efefef;
  padding: 10px 20px;
}

.search-area {
  align-items: center;
}

.search-box {
  background-color: #ffffff;
  border: 1px solid #ef653c;
  border-radius: 1rem;
  width: 100%;
  margin: 1rem 0;
}

.search-icon {
  text-align: center;
  margin: 0.5rem;
  color: #303033;
}

.text-muted {
  font-size: 0.9rem;
}

/*------ÁREA PROFISSIONAL--------*/

.container-profissional {
  background-color: #ffffff;
  padding: 15px 20px;
}

.secao-profissional {
  text-align: center;
  border-radius: 5%;
  height: 20rem;
}

.nome-profissional {
  color: #ef653c;
  margin: 0;
  font-size: 1rem;
}

.cargo-profissional {
  font-size: 0.8rem;
  color: #303033
}

.habilidade-profissional{
  font-size: 0.8rem;
  color: #686868;
}

.img-profissional {
  width: 10rem;
  height: auto;
  border-radius: 50%;
}

.botao-agendar {
  background-color: #ef653c;
  color: #ffffff;
  font-size: small;
}

