@font-face {
  font-family: Metropolis;
  src: url(font/Metropolis-Regular.woff), url(font/Metropolis-Bold.woff);
}

@font-face {
  font-family: Metropolis-Black;
  src: url(font/Metropolis-Black.woff);
}

* {
  font-family: Metropolis;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

h2 {
  color: #ef653c;
  font-size: 1.7rem;
  font-weight: bold;
}

/*------LAYOUT--------*/
body {
  background-color: #ffffff;
}

input {
  border: none;
  width: 80%;
  font-size: 0.9rem;
}

input:focus {
  outline: none;
}

p {
  margin: 0;
}

/*------NAVEGAÇÃO--------*/

.logo {
  width: 6rem;
  height: outo;
}

.navegation {
  background: #ffffff;
}

.navegation a.nav-link {
  font-family: Metropolis-Black;
  font-weight: 1000;
}

.navbar-light .navbar-nav .nav-link {
  color: #303033;
}

.btn-outline-light {
  background-color: #ffffff;
  color: #ef653c;
  border: 1px solid #ef653c;
}

.btn-outline-light:hover {
  background: #ef653c;
  color: #ffffff;
  border: 1px solid #ef653c;
  transition: 0.4s;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ef653c;
  transition: 0.35s;
}

/*------CONTAINER PRINCIPAL--------*/
.container-principal {
  margin-top: 4rem;
  background-color: #efefef;
  padding: 10px 20px;
}

.search-area {
  align-items: center;
}

.search-box {
  background-color: #ffffff;
  border: 1px solid #ef653c;
  border-radius: 1rem;
  width: 100%;
  margin: 1rem 0;
}

.search-icon {
  text-align: center;
  margin: 0.5rem;
  color: #303033;
}

.text-muted {
  font-size: 0.9rem;
}

/*------ÁREA PROFISSIONAL--------*/

.container-profissional {
  background-color: #ffffff;
  padding: 15px 20px;
}

.secao-profissional {
  text-align: center;
  border-radius: 5%;
  height: 20rem;
}

.nome-profissional {
  font-family: Metropolis-Black;
  color: #ef653c;
  margin: 0;
  font-size: 1rem;
}

.cargo-profissional {
  font-size: 0.8rem;
  color: #303033
}

.habilidade-profissional{
  font-size: 0.8rem;
  color: #686868;
}

.img-profissional {
  width: 10rem;
  height: auto;
  border-radius: 50%;
}

.botao-agendar {
  background-color: #ef653c;
  color: #ffffff;
  font-size: small;
}

