@charset "UTF-8";

@font-face {
    font-family: 'Metropolis'; 
    src: url('fontes/Metropolis-Black.otf') format('opentype');
       
}

@font-face {
    font-family: 'Metropolis-corpo'; 
    src: url('fontes/Metropolis-Regular.otf') format('opentype');
    
}

:root{
    --cor1: rgb(254, 85, 23);
    --cor2: rgb(254, 68, 0);
    --cor3: rgb(54, 53, 126);
    --cor4: rgb(48, 48, 51);

    --fonte-padrao-texto: 'Calibri';
    --fonte-fcamaraTitulo: 'Metropolis';
    --fonte-fcamaraCorpo: 'Metropolis-corpo';    
}


.titulo{
    font-size: 50px;
    text-align: center;
    font-family: var(--fonte-fcamaraTitulo);
    color: var(--cor2);
    margin-block-end: 5px;
    margin-block-start: 7px;
}

.subtitulo{
    margin-block-start: 5px;
    font-size: 20px;
    text-align: center;
    color: var(--cor4);
    font-weight: bold;
    font-family: var(--fonte-fcamaraCorpo)
}

.logo{
    display: flex;
    align-items: flex-start;
    text-align:left;
    justify-content:flex-start;
    width: 6rem;
    height: outo;
    position: absolute;
    left: 12px;    
}

*{
    box-sizing: border-box;
    font-size: 16px;
    
}
.tela-chat {
    position: fixed;
    right: 12px;
    bottom: 20px;
    font-family: var(--fonte-padrao-texto);
}
.container-chat {
    position: relative;
}

.conteudo {
    width: 1345px;
    height: clamp(300px, 72vh, 950px);
    overflow: hidden;
    box-shadow:0 7px 30px -10px rgba(20, 22, 22, 0.5);
    position: absolute;
    bottom: 45px;
    right: 0;
}

.identificacao {
    display: flex;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient( 109.6deg, var(--cor2) 11.2%, var(--cor1)  80%);
    font-family: var(--fonte-fcamaraCorpo);
    font-size: 25px;
    font-weight: bold;
   
}
.identificacao span{
    font-family: var(--fonte-padrao-texto);
    font-size: 15px;
    font-weight: lighter;
}
.identificacao span, strong {
    color: #fff;
    display: block;
}

.identificacao em{
    color: #fff;
    font-family: var(--fonte-padrao-texto);
}
.identificacao figure {
    margin: 0 15px 0 0;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}
.data-conversa {
    padding: 4px;
    width:120px;   
    border-radius: 35px;
    background: var(--cor2);
    color: #fff;
    text-align: center;
    margin-right: 600px;
    margin-left: 600px;
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 15px;
}
.container-dialogo {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75%;
    margin-top: -40px;
}
.container-interacao {
    padding: 0 10px;
    height: 76%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--cor2) var(--cor1)
}
.container-interacao::-webkit-scrollbar {
    width: 12px;
}
.container-interacao::-webkit-scrollbar-track {
    background: #0a0a0a;
    border-radius: 0;
}
.container-interacao::-webkit-scrollbar-thumb {
    background-color: var(--cor2);
    border-radius: 0;
}
.interacao {
    margin: 15px 0 
}
.aluno {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.aluno .foto figure{
    margin: 0;
}


.aluno p {
    background: var(--cor3);
    color: #fff;
    border-radius: 5px 5px 20px 5px;
    padding: 10px;
    margin: 0;
    left: 5px;
    margin-bottom: 20px;
}
.mentor {
    display: flex;
    justify-content: left;
    align-items: center;
}
.mentor .foto figure {
    margin: 0;
}
.mentor p {
    background-color: var(--cor1);
    color: #fff;
    border-radius: 20px 5px 5px 5px;
    padding: 10px;
    margin: 0.5px;
    margin-bottom: 20px;
    margin-top: -5px;
}
.enviar-mensagem {
    display: flex;
    align-items: center;
    justify-content: center;   
    padding-top: 25px;
    padding-bottom: 5px;
    height: 60px;
}

.enviar-mensagem-input {
    max-width: 1000px;
    width: 90%;
    height: 35px;
    padding: 0 15px;
    border-radius: 35px;
    border: 1px solid var(--cor2);
    margin: 0 5px;
}
.enviar-mensagem-input:focus {
 outline: none;
 background: #f9f9f9;
 
}

footer{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    font-family: var(--fonte-fcamaraTitulo);
    padding: 5px;
    background-color: var(--cor3);
    color:#fff;
}


/*@charset "UTF-8";

@font-face {
    font-family: 'Metropolis'; 
    src: url('fontes/Metropolis-Black.otf') format('opentype');
       
}

@font-face {
    font-family: 'Metropolis-corpo'; 
    src: url('fontes/Metropolis-Regular.otf') format('opentype');
    
}
*{
    box-sizing: border-box;
    
}

:root{
    --cor1: rgb(254, 85, 23);
    --cor2: rgb(254, 68, 0);
    --cor3: rgb(81, 82, 162);
    --cor4: rgb(48, 48, 51);

    --fonte-padrao-texto: 'Calibri';
    --fonte-fcamaraTitulo: 'Metropolis';
    --fonte-fcamaraCorpo: 'Metropolis-corpo';    
}


.titulo{
    font-size: 50px;
    text-align: center;
    font-family: var(--fonte-fcamaraTitulo);
    color: var(--cor2);
    margin-block-end: 5px;
    margin-block-start: 7px;
}

.subtitulo{
    margin-block-start: 5px;
    font-size: 20px;
    text-align: center;
    color: #303033;
    font-weight: bold;
    font-family: var(--fonte-fcamaraCorpo)
}

.logo{
    display: flex;
    align-items: flex-start;
    text-align:left;
    justify-content:flex-start;
    width: 6rem;
    position: absolute;
    left: 12px;    
}


.tela-chat {
    position: fixed;
    right: 12px;
    bottom: 20px;
    font-family: var(--fonte-padrao-texto);
}
.container-chat {
    position: relative;
}

.conteudo {
    width: 1345px;   
    height: 74vh;
    border-radius: 5px;
    box-shadow:0 7px 30px -10px rgba(20, 22, 22, 0.5);
    position: absolute;
    bottom: 45px;
    right: 0;
}

.identificacao {
    display: flex;
    align-items: center;
    padding: 15px;
    background-image: linear-gradient( 109.6deg, var(--cor2) 11.2%, var(--cor1)  80%);
    font-family: var(--fonte-fcamaraCorpo);
    height: 30px;     
}
.identificacao span{
    font-family: var(--fonte-padrao-texto);
}
.identificacao span, strong {
    color: #fff;
    display: block;
}

.identificacao em{
    color: #fff;
    font-family: var(--fonte-padrao-texto);
}
.identificacao figure {
    margin: 0 15px 0 0;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    
}
.data-conversa {
    padding: 2px;
    width: 120px;
    border-radius: 35px;
    background: var(--cor2);
    color: #fff;
    margin: 0 10px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 15px;
   
}
.container-dialogo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 75%;
    overflow: scroll;
    overflow-x: hidden;
}
.container-interacao {
    padding: 0 10px;
    height: 76%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--cor2) var(--cor1)
}
.container-interacao::-webkit-scrollbar {
    width: 12px;
}
.container-interacao::-webkit-scrollbar-track {
    background: #0a0a0a;
    border-radius: 0;
}
.container-interacao::-webkit-scrollbar-thumb {
    background-color: var(--cor2);
    border-radius: 0;
}
.interacao {
    margin: 15px 0 
}
.aluno {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.aluno .foto figure{
    margin: 0;
}


.aluno p {
    background: #36357E;
    color: #fff;
    border-radius: 10px;
    border-top-right-radius: 0;
    padding: 10px;
    margin: 0;
    left: 5px;
        
}
.mentor { 
    display: flex;
    justify-content: left;
    align-items: center;
    
}
.mentor .foto figure {
    margin: 0;  
    
}
.mentor p {
    background-color: var(--cor1);
    color: #fff;
    border-radius: 10px;
    border-top-left-radius: 0;
    padding: 10px;
    margin: 0;
    flex-flow: row;
}
.enviar-mensagem {
    display: flex;
    align-items: center;
    justify-content: center;   
    padding-top: 25px;
    padding-bottom: 5px;
    height: 60px;
}

.enviar-mensagem-input {
    max-width: 1000px;
    width: 90%;
    height: 35px;
    padding: 0 15px;
    border-radius: 35px;
    border: 1px solid var(--cor2);
    margin: 0 5px;
}
.enviar-mensagem-input:focus {
 outline: none;
 background: #f9f9f9;
 
}

footer{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    font-family: var(--fonte-fcamaraTitulo);
    padding: 5px;
    background-color: var(--cor3);
    color: #ccc;
}