@charset "UTF-8";

@font-face {
    font-family: 'Metropolis'; 
    src: url('fontes/Metropolis-Black.otf') format('opentype');
       
}

@font-face {
    font-family: 'Metropolis-corpo'; 
    src: url('fontes/Metropolis-Regular.otf') format('opentype');
    
}

:root{
    --cor1: rgb(254, 85, 23);
    --cor2: rgb(254, 68, 0);
    --cor3: rgb(54, 53, 126);
    --cor4: rgb(48, 48, 51);

    --fonte-padrao-texto: 'Calibri';
    --fonte-fcamaraTitulo: 'Metropolis';
    --fonte-fcamaraCorpo: 'Metropolis-corpo';    
}

@media (max-width: 900px){
    .container-titulo{
        display: none;
    }
}

*{
    box-sizing: border-box;
    font-size: 15px;
  
}

.tela-chat {
    position: fixed;
    right: 12px;
    bottom: 20px;
    font-family: var(--fonte-padrao-texto);
    height: 100%;
}

.container-chat {
    position: relative;
}

.conteudo {
    width: 350px;
    height: clamp(300px, 78vh, 80vh);
    position: absolute;
    bottom: 30px;
    right: 0;
}

.identificacao {
    display: flex;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient( 109.6deg, var(--cor2) 11.2%, var(--cor1)  80%);
    font-family: var(--fonte-fcamaraCorpo);
    font-size: 25px;
    font-weight: bold;
}

.identificacao span{
    font-family: var(--fonte-padrao-texto);
    font-size: 15px;
    font-weight: lighter;
}

.identificacao span, strong {
    color: #fff;
    display: block;
}

.identificacao em{
    color: #fff;
    font-family: var(--fonte-padrao-texto);
}

.identificacao figure {
    margin: 0 15px 0 0;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.data-conversa {
    padding: 2px;
    width:120px;   
    border-radius: 35px;
    background: var(--cor2);
    color: #fff;
    text-align: center;
    margin: 0 120px 20px 120px;
    font-size: 13px;
}

.container-dialogo {
    display: flex;
    flex-direction: column;
    justify-content:end;
    text-align:start;
    height: 90%;
    margin-top: -40px;
}

.container-interacao {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: hidden;
    scrollbar-width: thin;
}

.container-interacao::-webkit-scrollbar {
    width: 12px;
}

.container-interacao::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 0;
}

.container-interacao::-webkit-scrollbar-thumb {
    background-color: #ccc;;
    border-radius: 0;
}

.interacao {
    margin: 15px 0 
}

.aluno {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.aluno .foto figure{
    margin: 0;
}

.aluno p {
    background: var(--cor3);
    color: #fff;
    border-radius: 5px 5px 20px 5px;
    padding: 9px;
    margin: 10px 20px 10px 50px;   
}

.mentor {
    display: flex;
    justify-content: left;
    align-items: center;
}

.mentor .foto figure {
    margin: 0;
}
.mentor p {
    background-color: var(--cor2);
    color: #fff;
    border-radius: 20px 5px 5px 5px;
    padding: 9px;
    margin: 10px 20px 10px 20px;
}
.enviar-mensagem {
    display: flex;
    align-items: center;
    justify-content: center;     
    padding-top: 20px;
    padding-bottom: 5px;
    width: 100%;
}

.enviar-mensagem-input {
    max-width: 230px;
    width: 60%;
    height: 25px;
    padding: 0 15px;
    border-radius: 35px;
    border: 1px solid var(--cor2);    
    margin-left: 7px;
    margin-right: 7px;
    top: 10px;
    bottom: 5px;
}

.enviar-mensagem-input:focus {
 outline: none;
 background: #f9f9f9;
}

@media (max-width: 900px){
    .rodape {
        display: none;
    }
    }


/*@charset "UTF-8";

@font-face {
    font-family: 'Metropolis'; 
    src: url('fontes/Metropolis-Black.otf') format('opentype');
       
}

@font-face {
    font-family: 'Metropolis-corpo'; 
    src: url('fontes/Metropolis-Regular.otf') format('opentype');
    
}

:root{
    --cor1: rgb(254, 85, 23);
    --cor2: rgb(254, 68, 0);
    --cor3: rgb(81, 82, 162);
    --cor4: rgb(48, 48, 51);

    --fonte-padrao-texto: 'Calibri';
    --fonte-fcamaraTitulo: 'Metropolis';
    --fonte-fcamaraCorpo: 'Metropolis-corpo';    
}
@media (max-width: 900px){
    .container-titulo{
        display: none;
    }
}

.tela-chat {
    display: flex;
    justify-content: flex-end;
    font-family: var(--fonte-padrao-texto);
    
}
.container-chat {
    display: flex;
}

.conteudo {
    max-width: 450px;
    width: 300px;
    height: 90vh;
    bottom: 5px;
    border-radius: 5px;
    box-shadow:0 7px 30px -10px rgba(20, 22, 22, 0.5);
    position: absolute; 
}

.identificacao {
    display: flex;
    align-items: center;
    padding: 15px;
    background-image: linear-gradient( 109.6deg, var(--cor2) 11.2%, var(--cor1)  80%);
    font-family: var(--fonte-padrao-texto);
    font-size: 18px;
    font-weight: bold;
    height: 20px;  
}

.identificacao span{
    font-family: var(--fonte-padrao-texto);
    font-size: 12px;
    font-weight: lighter;
}
.identificacao span, strong {
    color: #fff;
    display: block;
}

.identificacao em{
    color: #fff;
    font-family: var(--fonte-padrao-texto);
}
.identificacao figure {
    margin: 0 15px 0 0;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 30px;
  
}
.data-conversa {
    padding: 3px;
    max-width:250px;
    width: 40%;
    border-radius: 35px;
    background: var(--cor2);
    color: #fff;
    margin: 0 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 13px;
}
.container-dialogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75%;
    overflow: scroll;
    overflow-x: hidden;  
}
.container-interacao {
    padding: 0 10px;
    height: 76%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    scrollbar-width: thin;
    scrollbar-color: var(--cor2) var(--cor1)
}
.container-interacao::-webkit-scrollbar {
    width: 12px;
}
.container-interacao::-webkit-scrollbar-track {
    background: #ece7e7;
    border-radius: 0;
}
.container-interacao::-webkit-scrollbar-thumb {
    background-color: var(--cor2);
    border-radius: 0;
}
.interacao {
    margin: 15px 0 
}
.aluno {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.aluno .foto figure{
    margin: 0;
}

.aluno p {
    width: 55%;
    background: #36357E;
    color: #fff;
    border-radius: 10px;
    border-top-right-radius: 0;
    padding: 10px;
    margin: 0;
    left: 5px;
    font-size: 15px;
}
.mentor {
    display: flex;
    justify-content: left;
    align-items: center;
}
.mentor .foto figure {
    margin: 0;
}
.mentor p {
    width: 55%;
    background-color: var(--cor1);
    color: #fff;
    border-radius: 10px;
    border-top-left-radius: 0;
    padding: 10px;
    margin: 0;
    font-size: 15px;
   
}
.enviar-mensagem {
    display: flex;
    align-items: center;
    justify-content: center;     
    padding-top: 20px;
    padding-bottom: 5px;
    width: 100%;
}

.enviar-mensagem-input {
    max-width: 230px;
    width: 60%;
    height: 25px;
    padding: 0 15px;
    border-radius: 35px;
    border: 1px solid var(--cor2);    
    margin-left: 7px;
    margin-right: 7px;
    top: 10px;
    bottom: 5px;
}

.enviar-mensagem-input:focus {
 outline: none;
 background: #f9f9f9;
}


@media (max-width: 900px){
.rodape {
    display: none;
}
}