@charset "UTF-8";

/*--------duvidas----------
-configuração da logo para resoluções menores não funciona

 */

/*regras para todos os dispositivos*/

:root {
    --cor1: rgb(254, 68, 0);
    --cor2: rgb(54, 53, 126);
    --cor3: rgb(48, 48, 51);
    --cor4: rgb(227, 100, 20);

}

* {
    font-family: 'Poppins';   
    overflow-x: hidden;
}


.container-titulo {
    background-color: var(--cor1);
    display: flex;
}

.titulo {    
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.logo {
    width: 3.5rem;
    position: absolute; 
}

.identificacao {
    background-color: var(--cor2);
    display: flex;
    align-items: center;
    padding:10px;
    font-size: 15px;
    font-weight: bold;
}

.identificacao span {
    font-size: 10px;
    font-weight: lighter;
}

.identificacao span, strong {
    color: #fff;
    display: block;
}

.identificacao em {
    color: #fff;
}

.identificacao figure {
    margin: 0 15px 0 0;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.chat{
    overflow: auto;
    overflow-x: hidden;
}


.data-conversa{
    width: 120px;
    border-radius: 10px;
    color: #fff;
    padding: 2px;
    background-color: var(--cor4);
    font-size: 12px;
    margin-top: 1px;
    margin-bottom: 10px;
    font-weight: bold;
}

.chat-list {
    padding: 0;
    font-size: .8rem;
}

.chat-list li {
    margin-bottom: 10px;
    overflow: auto;
    color: #ffffff;
}

.out .chat-message {
    border-radius: 5px 5px 0px 5px;
    margin-top: 10px;
}

.in .chat-message {
    border-radius: 0px 5px 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat-message .inicio-dialogo {
    margin-top: 5px;
}

.chat-list .chat-message {

    background: var(--cor2);
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

.chat-list .chat-message:before {
    content: "";
    position: absolute;
    top: 20px;
    width: 0;
    height: 0;
}


.chat-list .chat-message p {
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.chat-list .chat-body {
    margin-left: 50px;
    float: left;
    width: 75%;
}


.chat-list .out .chat-img {
    float: right;
}

.chat-list .out .chat-body {
    float: right;
    margin-right: 50px;
    text-align: right;
}

.chat-list .out .chat-message {
    background: var(--cor1);
}

.chat-list .out .chat-message:before {
    right: -15px;

}


.card .card-header {
    background: var(--cor1);
    border: 0;
    font-size: 1rem;
    padding: .65rem 2rem;
    position: relative;
    font-weight: 600;
    color: #ffffff;
}



.enviar-mensagem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    width: 100%;
}

.enviar-mensagem-input {
    width: 90%;
    height: 30px;
    padding: 0 5px;
    border-radius: 35px;
    border: 1px solid var(--cor1);
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 2px;
    
}

.enviar-mensagem-input:focus {
    outline: none;
    background: #f9f9f9;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    bottom: 0px;
    padding: 5px;
    background-color: var(--cor2);
    color: #fff;
    font-weight: bold;

}

/*regras específicas para smartphones*/
@media screen and (max-width: 480px) {
    .chat{
        font-size: 13px;
        
    }
    .container-titulo{
        height: 20px;
    }

    .logo { 
       margin-left: 30px;
       margin-top: 36px;
    }

    .titulo {
        font-size: 10px;
    }
    .identificacao{
        background-color: var(--cor2);
     }

    
    .rodape {
        height: 40px;
        font-size: 10px;
    }

}

/*regras específicas para dispositivos maiores, como tablets*/
@media screen and (min-width: 481) and (max-width: 1024px) {
    .logo { 
        left: 30px;
        top: 36px;
     }

    .rodape {
        height: 50px;
        font-size: 15px;
    }
}
/*regras específicas para desktops e notebooks*/
@media screen and (min-width: 1025px) {

    .titulo{
        font-size: 20px;
    }
    .container-titulo {       
        height: 70px;
        
    }

    .logo {        
        left: 85px;
        margin-left: 30px;
        margin-top: 36px;
    }

    .chat{
        font-size: 16px;
    }
    
    .rodape {
        height: 50px;
        font-size: 18px;
    }

}