@charset "UTF-8";


/*regras para todos os dispositivos*/

:root {
    --cor1: #E24816;
    --cor2: #36357e;
    --cor3: #e24816;
}

* {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

html {
    margin: 0;
}

body {
    height: 100%;
    background-color: #fff;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

label {
    margin-bottom: 5px;
}


/*------LAYOUT--------*/

input:focus {
    outline: none;
}

p {
    margin: 0;
}

input::placeholder {
    font-size: 16px;
}

/*------NAVEGAÇÃO--------*/
body.home a#home,
body.forum a#forum,
body.mentorias a#mentorias,
body.favoritos a#favoritos {
    color: #ffffff;
    border-bottom: 3px solid #36357E;
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 3px;
}

.navbar-light .navbar-nav .btn {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #E24816;
    padding: 5px 7px;
    background-color: #ffffff;
    font-size: 14px;
}

.navbar-light .navbar-nav .btn:hover {
    color: #303033;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffffff;
    border-bottom: 3px solid #36357E;
}

.navbar-light .navbar-brand {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
}

.navbar-light .navbar-brand:hover {
    color: #ffffff;
}

.logo {
    width: 3rem;
    height: auto;
    fill: #ffffff;
}

.navegation {
    background: #E24816;
    overflow-x: hidden !important;

}

.container-titulo {
    height: 55px;
    padding: 0 !important;

}

.identificacao {
    background-color: var(--cor2);
    display: inline-flex;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 1px;
}

.card-body {
    height: 5%;
    width: 98%;
    padding-right: 0;    
}

.identificacao span {
    font-size: 11px;
    font-weight: lighter;
}

.identificacao span,
strong {
    color: #fff;
    display: block;
}

.identificacao em {
    color: #fff;
}

.identificacao figure {
    margin: 0px 10px 0 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}



.data-conversa {
    width: 120px;
    border-radius: 10px;
    color: #fff;
    padding: 2px;
    background-color: #e36414;
    font-size: 12px;
    margin-top: 1px;
    margin-bottom: 20px;
    font-weight: bold;
}

.container-chat {
    padding: 0;
    font-size: .8rem;
    margin-bottom: 10px;
    color: #ffffff;
}



.chat-message .inicio-dialogo-aluno {
    margin-top: 5px;
}

.container-chat .chat-message:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}


.container-chat .chat-message p {
    border-radius: 5px 5px 0px 5px;
    line-height: 30px;
    margin-bottom: 20px;
    background: #E24816;
    text-align:center;
    margin-right: 150px;  
}

.container-chat .chat-body {
    margin-left: 15px;
    width: 180%;
}


.container-chat .mentorado .chat-body {
    float: right;
    text-align: right;
}

.container-chat .mentorado .chat-message {
    max-width:1000px;   
    margin-left:75%;
}

.enviar-mensagem {
    display: flex;
    padding: 6px;       
    margin-bottom: 10px;
    justify-content: center;
    margin:auto;
    z-index: 99;
}

.enviar-mensagem-input {
    width: 80%;
    height: 30px;
    padding: 0 5px;
    border-radius: 35px;
    border: 1px solid #e36414;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 2px;

}

.enviar-mensagem-input:focus {
    outline: none;
    background: #f9f9f9;
}

#btnEnviarMsg {
    all: unset;
    cursor: pointer;
    outline: revert;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    bottom: 0px;
    padding: 5px;
    background-color: rgb(54, 53, 126);
    color: #fff;
    font-weight: bold;
    height: 30px;
    font-size: 16px;
    position: absolute;
   
}

/*media queries*/
@media screen and (max-width: 780px) {
 
    .container-chat .chat-message p {

        margin-right: 80px;  
    }
    
    .container-chat .chat-body {
        margin-left: 15px;
        width: 300%;
    }
    .enviar-mensagem {
        width: 90%;
        margin-top: 340px;
    }

}

@media screen and (min-width: 781px) {

    .chat {
        font-size: 16px;
    }

    .enviar-mensagem {
        width: 100%;
        margin-top: 370px;

    }

}

/*fim media queries*/