/* ########################################### */
/*                 Global                      */
/* ########################################### */
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*
img{
    max-width: 100%;
    max-height: 100%; 
    height: 30%;
    width: 30%; 
}

*/

p {
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
 }


html{
    font-size: 14px;
    background-color: rgba(218, 214, 214, 0.384);
    color:#000000;
}

a{
    color:#FF4500;
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size:17px;
    font-weight: bolder;

}

.coluna{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    /*background-color:#0B0045;*/
    border: solid 0.5px #FF4500;
   /* border: #FF4500, 10px; */
    color:#000000;
    width: 90%;
    margin-top: 15px;
    padding: 10px;
    margin-left: 60px;
     
}
.categorias{
    font-size: 20px;
    font-weight: bolder;
    color:#ffffff;
    text-align: center;
  
}
.description{
    color:#000000;
    font-size: 16px;
}

#marca{
    font-size: 20px;
    color:#FFFFFF;
}


#nav1{
    background-color: #FF4500;
    color:#FFFFFF;
}
.logo{
    margin-top: -30px;
    width: 20%;
    margin-left: 10px;
}

/* ########################################### */
/*           Forums.html                       */
/* ########################################### */
.container{
    margin: 20px;
    padding: 20px;
    background-color: rgba(218, 214, 214, 0.384);
   
   
}

.subforum{
    margin-top:20px;
    background-color: #ffffff;

    /*                                                         TESTAR POSICIONAMENTO
    position: absolute;
    margin-left: auto;
    margin-right: auto; */
  }
  
   


.subforum-title{
    background-color:#FF4500;
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
    font-family: var(--fonte-fcamaraTitulo); 
    margin-left: 60px;
  
    
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* For the smartphones */
@media screen and (max-width: 460px) {
    .container{
        margin: 10px;
        padding: 10px;
    }

    .coluna{
        margin-top: 15px;
        padding: 10px;
    }
    
  }

/* For the tablets */
@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container{
        margin: 15px;
        padding: 15px;
    }

    html{
        font-size: 14px;
    }

    h1{
        font-size: 18px;
        text-align: center;
    }

    .coluna{
        margin-top: 15px;
        padding: 10px;
    }
    

  }
/*   Header Section    */

header{
    margin-inline: 10px;
    margin-bottom: 0px;
}
  /* Nav Bar styles */





/*------NAVEGAÇÃO--------*/

.navbar-light .navbar-toggler {
    border: none;
  }
  
  .navbar-light .navbar-nav .nav-link{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
  }
  
  .navbar-light .navbar-nav .btn {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #E24816;
    padding: 5px 7px;
    background-color: #ffffff;
    font-size: 14px;
  }
  
  .navbar-light .navbar-nav .btn:hover {
    color: #303033;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    transition: 0.35s;
  }
  
  .navbar-light .navbar-brand {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
  }
  .navbar-light .navbar-brand:hover {
    color:#ffffff;
  }
  



/*  NAVEGAÇAO
  .navbar-light .navbar-toggler {
    border: none;
  }
  
  .navbar-light .navbar-nav .nav-link{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
  }
  
  .navbar-light .navbar-nav .btn {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #E24816;
    padding: 5px 7px;
    background-color: #ffffff;
    font-size: 14px;
  }
  
  .navbar-light .navbar-nav .btn:hover {
    color: #303033;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    transition: 0.35s;
  }
  
  .navbar-light .navbar-brand {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
  }
  .navbar-light .navbar-brand:hover {
    color:#ffffff;
  }
  
  .logo {
    width: 3rem;
    height: auto;
    fill: #ffffff;
  }
  
  .navegation {
    background: #E24816;
    height: 61px;
  }
  
  
.navbar{
    display:flex;
    align-items: center;
}
.navigation{
    background-color:#E24816;
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right:10px; 
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
}

.close-icon i{
    font-size:60px;
    float: left;
    cursor: pointer;
}

.nav-list{
    list-style-type:none;
    overflow: hidden;
}

.nav-item a{
    float: right;
    display:block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color:#0B0045;
}

.nav-item a:hover{
    background-color: rgb(0,0,0,0.1);
}

.hide{
    display: none;
}

.bar-icon{
    font-size: 60px;
    display: inline-block;
    margin-right:10px;
    color: #0B0045;
    cursor: pointer;
}


.brand{
    font-size:60px;
    display: inline-block;
    font-family: 'MetropolisRegular';
}
*/

/*Navbar for the smartphones*/
@media screen and (max-width: 460px){
    .navigation{
        max-height: auto;
    }
    
    .close-icon i{
        font-size:30px;
    }
    
    .nav-item a{
        float:left;
        display:inline;
        margin-inline: 3px;
        font-size: 10px;
        padding: 5px;
    }
    
    
    .bar-icon{
        font-size: 30px;
    }
 
    .brand{
        font-size:20px;
    }
}

  /* Search Box styles */
.search-box{
    /*border: solid 2px #FF4500; */
    border-radius: 5px;
    margin-top: 50px;
    padding: 40px;
    display:flex;
    justify-content: center;
    /* box-shadow:1px 2px 0px #FF4500; */
}

.search-box select{
    padding: 10px;
    border-radius: 5px;
    border-color: #FF4500;

}

.search-box input{
    padding: 10px;
    border-radius: 5px;
    border-color: #FF4500;
}

.search-box button{
    padding: 10px;
    border-radius: 5px;
    background-color:#fff;
    color:#000000;
    border-color: #FF4500;
}

.search-box button:hover{
    background-color: #FF4500;
    color: #fff;
    box-shadow: 1px 2px 3px #fff;
    border-radius: 5px;
}

/* search box for smrtphones */
@media screen and (max-width: 460px){
    .search-box input, .search-box button, .search-box select{
        min-width: 300px;
        margin-top: 5px;
    }    

}

/* forum info Styling */
.forum-info{
    padding: 20px;
    background-color: #303133;
    color:#fff;
}

.chart{
    font-size:20px;
    font-weight:bold;
}
/* Footer Styling */

footer{
    margin-top: 0px;
    padding: 30px;
    background-color:  #FF4500;
    display: block;
    text-align: center;
}

/* ########################################### */
/*            posts.html                       */
/* ########################################### */

/* posts table's head  */
.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: #2C2C2C;
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* posts table's body  */

.table-row{
    display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color: #131415;
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}

/* navigation path*/
.navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.navigate a{
    color: #fff;
}

.navigate a:hover{
    color:#FF4500;
    font-weight: bolder;
}

/* Pagination*/

.pagination{
    padding: 20px;
    font-size: 15px;
}

.pagination a{
    color: #fff;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px #fff;
}

.pagination a:hover{
    opacity: 0.5;
}

.note{
    background-color:#111314;
    padding: 20px;
    display: block;
}

.note span{
    font-size: 20px;
    margin-block: 5px;
}


/* ########################################### */
/*            detail.html                      */
/* ########################################### */

.head{
    display: flex;
    background-color: #2C2C2C;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: #131415;
    padding: 10px;
    margin-top: 5px;
}

.body .authors .username{
    font-size: 20px;
}

.body .authors img{
    max-width: 50px;
    max-height: 80px;
}

.body .content .comment button{
    border:none;
    padding:10px;
    font-weight: bolder;
    box-shadow: 4px 6px #fff;
    cursor: pointer;
    float: right;
}

/* comment section */
.comment-area{
    margin-bottom:50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #000000;
}








