/* ########################################### */
/*                 Global                      */
/* ########################################### */
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*
img{
    max-width: 100%;
    max-height: 100%; 
    height: 30%;
    width: 30%; 
}

*/

p {
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    text-align: justify;
  
 }


html{
    font-size: 14px;
    color:#000000;
}

a{
    color:#FF4500;
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size:17px;
}

.coluna{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    /*background-color:#0B0045;*/
    border: solid 0.5px #FF4500;
   /* border: #FF4500, 10px; */
    color:#000000;
    width: 90%;
    margin-top: 15px;
    padding: 10px;
    margin-left: 60px;
     
}
.categorias{
    font-size: 20px;
    font-weight: bolder;
    color:#ffffff;
    text-align: center;
  
}
.description{
    color:#000000;
    font-size: 16px;
}

#marca{
    font-size: 20px;
    color:#FFFFFF;
}


#nav1{
    background-color: #FF4500;
    color:#FFFFFF;
}
.logo{
    margin-top: -30px;
    width: 20%;
    margin-left: 10px;
}

#novo-post{
    margin-left: -80px;
    background-color: #FF4500;
    color: #ffffff;
    font-weight: bold;
}
.container{
    margin: 20px;
    padding: 20px;
    
}

.subforum{
    margin-top:20px;
    background-color: #ffffff;

    /*                                                         TESTAR POSICIONAMENTO
    position: absolute;
    margin-left: auto;
    margin-right: auto; */
  }
  

.subforum-title{
    background-color:#FF4500;
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
    font-family: var(--fonte-fcamaraTitulo); 
    margin-left: 60px;
  
    
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*------NAVEGAÇÃO--------*/

.navbar-light .navbar-toggler {
    border: none;
  }
  
  .navbar-light .navbar-nav .nav-link{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
  }
  
  .navbar-light .navbar-nav .btn {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #FF4500;
    padding: 5px 7px;
    background-color: #ffffff;
    font-size: 14px;
  }
  
  .navbar-light .navbar-nav .btn:hover {
    color: #e1e1e6;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    transition: 0.35s;
  }
  
  .navbar-light .navbar-brand {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
  }
  .navbar-light .navbar-brand:hover {
    color:#ffffff;
  }
  
  .logo {
    
    height: auto;
    fill: #ffffff;
    margin-left: -100px;
  }
  
  .navegation {
    background: #FF4500;
  }
 
/* smartphones */
@media screen and (max-width: 460px) {
    .container{
        margin: 10px;
        padding: 10px;
    }

    .coluna{
        margin-top: 15px;
        padding: 10px;
    }
    
  }

/* tablets */
@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container{
        margin: 15px;
        padding: 15px;
    }

    html{
        font-size: 14px;
    }

    h1{
        font-size: 18px;
        text-align: center;
    }

    .coluna{
        margin-top: 15px;
        padding: 10px;
    }
    

  }
/*   Header   */

header{
    margin-inline: 10px;
    margin-bottom: 0px;
}


/*Navbar smartphones*/
@media screen and (max-width: 460px){
    .navigation{
        max-height: auto;
    }
    
    .close-icon i{
        font-size:30px;
    }
    
    .nav-item a{
        float:left;
        display:inline;
        margin-inline: 3px;
        font-size: 10px;
        padding: 5px;
    }
    
    
    .bar-icon{
        font-size: 30px;
    }
 
    .brand{
        font-size:20px;
    }
}

.search-box{
    border-radius: 5px;
    margin-top: 50px;
    padding: 120px;
    display:flex;
    margin-left: 145px;
    margin-bottom: -150px;
}

.search-box select{
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #FF4500;
    font-weight: bold;
}

.search-box input{
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #FF4500;
    width: 60%;
    height: 48px;
}

.search-box button{
    padding: 10px;
    border-radius: 5px;
    background-color:#fff;
    color:#000000;
    border: 0px;
}

.search-box button:hover{
    background-color: #FF4500;
    color: #fff;
    box-shadow: 1px 2px 3px #fff;
    border-radius: 5px;
}

.search-icon {
    margin: 0.5rem;
    color: #000000;
    margin-left: -190px;
    /*width: 28px;
    height: 28px;
}

/*                                                              SEARCH BOX           */

/* search box for smrtphones */
@media screen and (max-width: 460px){
    .search-box input, .search-box button, .search-box select{
        min-width: 300px;
        margin-top: 5px;
    }    

}

/* forum info Styling */
}
.forum-info{
    padding: 20px;
    background-color: #FF4500;
    color:#fff;
}

.chart{
    font-size:20px;
    font-weight:bold;
}
/* Footer Styling */

footer{
    margin-top: 0px;
    padding: 30px;
    background-color:  #36357e;
    display: block;
    text-align: center;
    color:#ffffff;
    font-weight: bold;
}